<div class="container">
  <h2 class="text-info">FAQ</h2>
  <p>A list of our most frequently asked questions.</p>
  <h4 class="text-info">Why should I use SwiftIntro?</h4>
  <p>Networking is difficult. Our platform suggests like-minded professionals that you should meet, and you can decide if you would like an introduction in less than 10 seconds.</p>
  <h4 class="text-info">How does it work?</h4>
  <p>Once per week, we will suggest an introduction (you will receive an email notification). Upon login, you can view his or her profile and decide if you would like an intro. If both people express interest, then we will put you in touch via email.</p>
  <h4 class="text-info">How do you suggest introductions?</h4>
  <p>We have an algorithm that evaluates several criteria including city, industry interests, shared LinkedIn connections, work experience, skills, and education.</p>
  <h4 class="text-info">Why are you using LinkedIn for login?</h4>
  <p>This makes the signup process easier for users. You don't have to remember a new username or password, and you don't have to enter information that you have already posted on LinkedIn. We can also suggest better introductions by analyzing shared connections on LinkedIn.</p>
  <h4 class="text-info">What are you storing from LinkedIn?</h4>
  <p>We pull down basic information such as name, work experience, skills, education, profile picture, and your email address. We also look at your list of LinkedIn connections to determine shared connections and avoid connecting you with people that you already know.</p>
  <h4 class="text-info">Who can see my information?</h4>
  <p>Only the people that we suggest you should meet can see your SwiftIntro profile page. Your email address is only shared if both people express interest in meeting.</p>
</div>
