<div class="jumbotron head center">
  <div class="container">
    <h1>SwiftIntro <span style="font-size: 20px">Beta</span></h1>
    <p>The easiest way to find people with similar professional interests.</p>
    <p>Login or request a beta invite by signing in with LinkedIn.</p>
    <p><%= button_to "Sign in with LinkedIn", "/auth/linkedin", method: "get", class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>

<div class="container descriptions">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'glyphicons_group.png', class:'glyph-pic' %>
      <h2>Find people near you</h2>
      <p>We'll send you occasional emails that suggest interesting people to meet.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag 'glyphicons_calendar.png', class:'glyph-pic' %>
      <h2>Get together</h2>
      <p>If both people express interest, we will put you in touch to coordinate a time and place to meet.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag 'glyphicons_coffee_cup.png', class:'glyph-pic' %>
      <h2>Enjoy the conversation</h2>
      <p>Have fun meeting new people. Building your network has never been so easy.</p>
    </div>
  </div>
</div>

<div class="container navbar-fixed-bottom">
    <footer>
      <p>&copy; SwiftIntro 2014</p>
    </footer>
</div>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
