<div class="home">
  <div class="jumbotron container center">
    <div class="primary-text">
      <h1>SwiftIntro <span style="font-size: 20px">Beta</span></h1>
      <p>The easiest way to find people with similar professional interests.</p>
      <p>Login or request a beta invite by signing in with LinkedIn.</p>
      <p><%= button_to "Sign in with LinkedIn", "/auth/linkedin", method: "get", class: 'btn btn-primary btn-lg' %></p>
    </div>
  </div>


  <div class="container navbar-fixed-bottom">
    <footer>
      <p>&copy; SwiftIntro 2014</p>
    </footer>
  </div>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
