<div class="home">
  <div class="jumbotron container center">
    <div class="primary-text">
      <h1 style="font-family: Lobster, cursive">SwiftIntro <span style="font-size: 20px">Beta</span></h1>
      <h2>The smarter way to build your network</h2>
      <p>Let us introduce you to one like-minded professional a week</p>
      <%= link_to image_tag("linkedin_signin.png", class:"img-responsive", style:'margin:auto'),"/auth/linkedin" %>

      <!-- Button trigger modal -->
      <a href data-toggle="modal" data-target="#myModal">
        <div style="color:white;">Why we use LinkedIn</div>
      </a>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">WE RESPECT YOUR PRIVACY AND WE'LL NEVER POST ON YOUR BEHALF</h4>
            </div>
            <div class="modal-body">
              <p>Using LinkedIn allows us to:</p>
              <ul class="modal-list">
                <li>Simplify sign in with one less password to remember</li>
                <li>Save you time inputting information you have already posted on LinkedIn</li>
                <li>Identify shared connections you have with other SwiftIntro members</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row descriptions">
    <div class="col-md-4">
      <i class="fa fa-link fa-5x"></i>
      <h2>Get Connected</h2>
      <p>We'll send you one email per week that suggests an interesting professional to meet.</p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-comments fa-5x"></i>
      <h2>Enjoy the Conversation</h2>
      <p>If both people express interest, we'll put you in touch to coordinate a time and place to meet.</p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-users fa-5x"></i>
      <h2>Expand Your Network</h2>
      <p>Have fun meeting new people. Building your network has never been so easy.</p>
    </div>
  </div>
</div>

<div class="center" id="demo-video">
  <h1>How It Works</h1>
  <iframe src="//player.vimeo.com/video/92106334" width="1000" height="560" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
