<div class="home">
  <div class="jumbotron container center">
    <div class="primary-text">
      <h1>SwiftIntro <span style="font-size: 20px">Beta</span></h1>
      <p>The easiest way to find people with similar professional interests.</p>
      <p>Currently serving San Francisco, NYC, and Denver/Boulder.</p>
      <p>Launching in more cities soon, so please sign up even if you are in a different market.</p>
      <p><%= button_to "Sign in with LinkedIn", "/auth/linkedin", method: "get", class: 'btn btn-primary btn-lg' %></p>
    </div>
  </div>
</div>

<div class="center" id="demo-video">
  <h1>How It Works</h1>
  <iframe src="//player.vimeo.com/video/92106334" width="1000" height="560" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="container">
  <div class="row descriptions">
    <div class="col-md-4">
      <%= image_tag 'glyphicons_group.png', class:'glyph-pic' %>
      <h2>Find people near you</h2>
      <p>We'll send you one email per week that suggests interesting people to meet.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag 'glyphicons_calendar.png', class:'glyph-pic' %>
      <h2>Get together</h2>
      <p>If both people express interest, we'll put you in touch to coordinate a time and place to meet.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag 'glyphicons_coffee_cup.png', class:'glyph-pic' %>
      <h2>Enjoy the conversation</h2>
      <p>Have fun meeting new people. Building your network has never been so easy.</p>
    </div>
  </div>

  <div class="row">
    <footer>
      <p>&copy; SwiftIntro 2014</p>
    </footer>
  </div>
</div>
