<div class = 'container'>
Last Updated: April 30th, 2014
<br><br>
<b>PLEASE READ THIS DOCUMENT CAREFULLY</b>
<br><br>
SwiftIntro ("SwiftIntro” “we,” or “us”) operates the SwiftIntro mobile app and related website (“SwiftIntro”). By using SwiftIntro in any way, you accept these Terms of Service (“Agreement”). If you do not wish to be bound by this Agreement, do not use SwiftIntro.
<br><br>
<b>Who May Use SwiftIntro</b><br>
You must be at least 13 years old to use SwiftIntro. Use is void where prohibited. By using SwiftIntro, you represent and warrant that you have the right, authority and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement.
<br><br>
<b>License to Use SwiftIntro</b><br>
SwiftIntro grants you a limited, non-exclusive license to access and use SwiftIntro for your own personal, non-commercial purposes. This license is personal to you and may not be assigned or sublicensed to anyone else.
<br><br>
Except as expressly permitted by SwiftIntro in writing, you will not reproduce, redistribute, sell, create derivative works from, decompile, reverse engineer, or disassemble SwiftIntro. Nor will you take any measures to interfere with or damage SwiftIntro. All rights not expressly granted by SwiftIntro are reserved.
<br><br>
<b>Privacy</b><br>
Your privacy rights are set forth in our Privacy Policy (Privacy Policy), which forms a part of this Agreement. Please review the Privacy Policy to learn about:
<br><br>
<b>Registration</b><br>
To use SwiftIntro, you must register an account your LinkedIn login, meaning you are authorizing us to access certain information in your LinkedIn account, including information about LinkedIn connections you might share in common with other SwiftIntro users. By allowing us to access your LinkedIn account, you expressly acknowledge and agree that we may obtain and share your name and a profile picture, as well as the name and profile picture of your LinkedIn connections who are common LinkedIn connections with other SwiftIntro users in your network or geolocation. Please take precautions to protect your password and contact us if you believe your account has been accessed by an unauthorized person.
<br><br>
<b>Term and Termination; Account Deletion</b><br>
This Agreement begins on the date you first use SwiftIntro and continues until terminated in accordance with the provisions hereof.
<br><br>
SwiftIntro may suspend, disable, or delete your account (or any part thereof) if SwiftIntro determines that you have violated any provision of this Agreement or that your conduct or content would tend to damage SwiftIntro’s reputation or goodwill. If SwiftIntro deletes your account for the foregoing reasons, you may not re-register under a different name.
<br><br>
Upon termination, all licenses granted by SwiftIntro will terminate. In the event of account deletion for any reason, content that you submitted may no longer be available. SwiftIntro shall not be responsible for the loss of such content.
<br><br>
<b>Disclaimers; Limitation of Liability</b><br>
YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH OTHER SWIFTINTRO USERS. YOU UNDERSTAND THAT SWIFTINTRO CURRENTLY DOES NOT CONDUCT CRIMINAL BACKGROUND CHECKS ON ITS USERS. SWIFTINTRO ALSO DOES NOT INQUIRE INTO THE BACKGROUNDS OF ALL OF ITS USERS OR ATTEMPT TO VERIFY THE STATEMENTS OF ITS USERS. SwiftIntro MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS OR THEIR COMPATIBILITY WITH ANY CURRENT OR FUTURE USER. SWIFTINTRO RESERVES THE RIGHT TO CONDUCT ANY CRIMINAL BACKGROUND CHECK OR OTHER SCREENINGS, AT ANY TIME AND USING AVAILABLE PUBLIC RECORDS.
<br><br>
IN NO EVENT SHALL SWIFTINTRO BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, EMEPLARY, COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SERVICE, INCLUDING WITHOUT LIMITATION, BODILY INJURY, DEATH, EMOTIONAL DISTRESS, AND/OR ANY OTHER DAMAGES RESULTING FROM COMMUNICATIONS OR MEETINGS WITH OTHER USERS OF THE SWIFTINTRO SERVICE OR PERSONS YOU MEET THROUGH SWIFTINTRO. YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL INTERACTIONS WITH OTHER USERS OF THE SERVICE, PARTICULARLY IF YOU DECIDE TO MEET OFFLINE OR IN PERSON.
<br><br>
SwiftIntro reserves the right to modify SwiftIntro. You are responsible for providing your own access to SwiftIntro. SwiftIntro has no obligation to screen or monitor any content and does not guarantee that any content available on SwiftIntro complies with this Agreement or is suitable for all users.
<br><br>
SwiftIntro provides SwiftIntro on an “as is” and “as available” basis. You therefore use SwiftIntro at your own risk. SwiftIntro expressly disclaims any and all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose, non-infringement, and any other warranty that might arise under any law. Without limiting the foregoing, SwiftIntro makes no representations or warranties:
<br><br>
That SwiftIntro will be permitted in your jurisdiction;<br>
That SwiftIntro will be uninterrupted or error-free;<br>
Concerning any content submitted by any user;<br>
Concerning any third party’s use of content that you submit;<br>
That any content you submit will be made available on SwiftIntro or will be stored by SwiftIntro;<br>
That SwiftIntro will continue to support any particular feature of SwiftIntro;<br>
Concerning sites and resources outside of SwiftIntro, even if linked to from SwiftIntro.
<br><br>
To the extent any disclaimer or limitation of liability does not apply, all applicable express, implied, and statutory warranties will be limited in duration to a period of thirty (30) days after the date on which you first used SwiftIntro, and no warranties shall apply after such period.
<br><br>
<b>Code of Conduct; Prohibited Activities</b><br>
In using SwiftIntro, you must behave in a civil and respectful manner at all times. Further, you will not:
<br>
Harass or stalk any other person;<br>
Harm or exploit minors;<br>
Act in a deceptive manner by, among other things, impersonating any person;<br>
Collect information about others;<br>
You will not express or imply that any statements you make are endorsed by SwiftIntro without our specific prior written consent.<br>
You will not distribute spam, and will not use any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, “data mine”, or in any way reproduce or circumvent the navigational structure or presentation of the Service or its contents.<br>
You will not post, distribute or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior consent of the owner of such proprietary rights.<br>
You will not interfere with or disrupt the services or the site or the servers or networks connected to the services or the site.<br>
You will not post, email or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment.<br>
SwiftIntro has the right, but not the obligation, to monitor all conduct on and content submitted to SwiftIntro.
<br><br>
<b>Content Restrictions</b><br>
You are solely responsible for the content that you publish or display (hereinafter, “post”) on the Service, or transmit to other Members. You will not post on the service, or transmit to other users, any defamatory, inaccurate, abusive, obscene, profane, offensive, sexually oriented, threatening, harassing, racially offensive, or il material, or any material that infringes or violates another party's rights (including, but not limited to, intellectual property rights, and rights of privacy and publicity). You will not provide inaccurate, misleading or false information to SwiftIntro or to any other user. If information provided to SwiftIntro, or another user, subsequently becomes inaccurate, misleading or false, you will promptly notify us of such change. The following is a partial list of content you maynotupload, post, or transmit (collectively, “submit”):
<br><br>
is patently offensive to the online community, such as content that promotes racism, bigotry, hatred or physical harm of any kind against any group or individual;<br>
harasses or advocates harassment of another person;<br>
promotes information that is false, misleading or promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous;<br>
provides material that exploits people under the age of 18 in a sexual or violent manner, or solicits personal information from anyone under the age of 18;<br>
contains sexually explicit content;<br>
provides instructional information about illegal activities such as making or buying illegal weapons, violating someone's privacy, or providing or creating computer viruses;<br>
involves the transmission of “junk mail”, “chain letters,” or unsolicited mass mailing or “spamming”;<br>
promotes an illegal or unauthorized copy of another person's copyrighted work, such as providing pirated computer programs or links to them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated images, audio or video, or links to pirated images, audio or video files;<br>
solicits passwords or personal identifying information for commercial or unlawful purposes from other users;<br>
engages in commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, and pyramid schemes;<br>
infringes any third party’s copyrights or other rights (e.g., trademark, privacy rights, etc.);<br>
Your use of the Service, including but not limited to the content you post on the service, must be in accordance with any and all applicable laws and regulations.
<br><br>
<b>Licenses Granted by You</b><br>
You grant SwiftIntro and its affiliates a worldwide, perpetual, irrevocable, non-exclusive, royalty-free license and right to copy, transmit, distribute, publicly perform and display (through all media now known or hereafter created), and make derivative works from your content. In addition, you waive any so-called “moral rights” in your content. You further grant all users of SwiftIntro permission to view your content for their personal, non-commercial purposes. If you make suggestions to SwiftIntro on improving or adding new features to SwiftIntro, SwiftIntro shall have the right to use your suggestions without any compensation to you.
<br><br>
<b>Your Representations and Warranties</b><br>
For each piece of content that you submit, you represent and warrant that: (i) you have the right to submit the content to SwiftIntro and grant the licenses set forth above; (ii) SwiftIntro will not need to obtain licenses from any third party or pay royalties to any third party; (iii) the content does not infringe any third party’s rights, including intellectual property rights and privacy rights; and (iv) the content complies with this Agreement and all applicable laws.
<br><br>
<b>Indemnification</b><br>
You will indemnify, defend, and hold harmless SwiftIntro and its affiliates, directors, officers, employees, and agents, from and against all third party actions that: (i) arise from your activities on SwiftIntro; (ii) assert a violation by you of any term of this Agreement; or (iii) assert that any content you submitted to SwiftIntro violates any law or infringes any third party right, including any intellectual property or privacy right.
<br><br>
<b>Third Party Copyrights and Other Rights Copyright Policy</b><br>
SwiftIntro respects the intellectual property of others, and we ask our users to do the same. Each user is responsible for ensuring that the materials they upload to SwiftIntro do not infringe any third party copyright.
<br><br>
<b>General Provisions</b><br>
GOVERNING LAW: This Agreement shall be governed by the laws of the State of California, United States of America, without regard to principles of conflicts of law. The Uniform Commercial Code, the Uniform Computer Information Transaction Act, and the United Nations Convention of Controls for International Sale of Goods shall not apply.
<br><br>
DISPUTES: Any action arising out of or relating to this Agreement or your use of SwiftIntro must be commenced in the state or federal courts located in California, New York, United States of America (and you consent to the jurisdiction of those courts).In any such action, SwiftIntro and you irrevocably waive any right to a trial by jury.
<br><br>
INTERPRETATION; SEVERABILITY; WAIVER; REMEDIES:Headings are for convenience only and shall not be used to construe the terms of this Agreement. If any term of this Agreement is found invalid or unenforceable by any court of competent jurisdiction, that term will be severed from this Agreement. No failure or delay by SwiftIntro in exercising any right hereunder will waive any further exercise of that right. SwiftIntro’s rights and remedies hereunder are cumulative and not exclusive.
<br><br>
SUCCESSORS; ASSIGNMENT; NO THIRD PARTY BENEFICIARIES:This Agreement is binding upon and shall inure to the benefit of both parties and their respective successors, heirs, executors, administrators, personal representatives, and permitted assigns. You may not assign this Agreement without SwiftIntro’s prior written consent. No third party shall have any rights hereunder.
<br><br>
NOTICES: You consent to receive all communications including notices, agreements, disclosures, or other information from SwiftIntro electronically. SwiftIntro may provide all such communications by email or by posting them on SwiftIntro. 
<br><br>
<b>MODIFICATION; ENTIRE AGREEMENT:</b>
<br>
This Agreement may not be modified except by a revised Terms of Service posted by SwiftIntro on SwiftIntro or a written amendment signed by an authorized representative of SwiftIntro a revised Terms of Service will be effective as of the date it is posted. This Agreement constitutes the entire understanding between SwiftIntro and you concerning the subject matter hereof and supersedes all prior agreements and understandings regarding the same.
<br><br>
<b>END OF DOCUMENT.</b>

</div>