<p>Hi <%= @user.first_name %>,</p>

<p>Thanks for signing up for our beta program. Each week, we will suggest a new potential match. When you log in, you can see their profile and decide if you would like an introduction. Expect an email soon once we have found your first match.</p>

<p>-The SwiftIntro Team</p>
