<p>Hi <%= @user.first_name %>,</p>

<p>Thanks for signing up for our beta program. We will officially start matching users in a few weeks, but in the meantime we may suggest a potential match or two. When you log in, you will be able to see your match's profile and decide if you would like an introduction. Expect an email once we have found your first match.</p>

<p>-The SwiftIntro Team</p>
