<p>Hi <%= @user.first_name %>,</p>

<p>
  Thanks again for signing up! You have been approved as a beta tester. Expect an email once we have found your first introduction (we suggest introductions about once a week).
</p>

<p>
  In the meantime, feel free to invite your friends to SwiftIntro using your personal link: 
  www.swiftintro.com/<%=@user.uid%>. If you sign up 5 or more users, you will be offered premium features including more introductions per week, the opportunity to connect with people in different cities, and a badge on your profile.
</p>

<p>-The SwiftIntro Team</p>
