<p>Hi <%= @user.first_name %>,</p>

<p>
  Thanks for signing up for SwiftIntro. We are currently in beta in a few markets. If you are in one of our target markets, expect an approval email soon. Otherwise, you will hear from us once we are live in your area.
</p>

<p>   
  Once approved, we will email you one potential match per week. Upon login, you can select if you would like an introduction to your suggested match. If both people express interest in meeting, we will put you in touch via email. This process should take less than 10 seconds, making networking as easy as possible.
</p>

<p>
  In the meantime, feel free to invite your friends to SwiftIntro using your personal link: 
  www.swiftintro.com/<%=@user.uid%>. If you sign up 5 or more users, you will be given special privileges such as free premium features.
</p>

<p>-The SwiftIntro Team</p>
