<p>Hi <%= @user.first_name %>,</p>

<p>
  Thanks for signing up for SwiftIntro. Before we launch, we're allowing a small group of users to participate in a private beta. We'll email you shortly if you have been selected to participate.
</p>

<p>   
  Once approved, we will email you one potential introduction each week. Upon login, you can select if you would like an introduction to your suggested connection. If both people express interest in meeting, we will put you in touch via email. Don't worry, your response will only be revealed if both people request an introduction.
</p>

<p>
  In the meantime, feel free to invite your friends to SwiftIntro using your personal link: 
  www.swiftintro.com/<%=@user.uid%>. If you sign up 5 or more users, you will be offered premium features including more introductions per week, the opportunity to connect with people in different cities, and a badge on your profile.
</p>

<p>-The SwiftIntro Team</p>
