<p><%= @first_user.name %> and <%= @second_user.name %>,</p>

<p>Congrats! Both of you expressed interest in meeting up. Be sure to coordinate a time and place to meet soon.</p>

<p>-The SwiftIntro Team</p>
