<p>Hi <%= @user.first_name %>,</p>

<p>
  Thank you for recommending SwiftIntro to 5 or more friends. We really appreciate your support, and you will now have access to premium features including more matches per week, the opportunity to match with people in different cities, and a badge on your profile.
</p>

<p>
  Please consider inviting more friends to SwiftIntro using your personal link. We are always looking to build the quality of our user base: 
  www.swiftintro.com/<%=@user.uid%>.
</p>

<p>-The SwiftIntro Team</p>
