<p><%= @user.first_name %>,</p>

<p>Thank you for expressing interest in our beta program. Unfortunately, we are not serving your city yet, but we will let you know when that changes. We appreciate your support.</p>

<p>-The SwiftIntro Team</p>
