Potential matches for <%= @user.name %>:
<ul>
<% @potential_matches.each_with_index do |potential_match_id, index| %>
  <li><%= User.find(potential_match_id).name %> shared connection: <%= @shared[index] %> 
    <%= button_to "Create Match", user_matches_path(@user, user_1: @user.id, user_2: potential_match_id), method: 'post', class: 'btn btn-primary' %></li>
<% end %>
</ul>
