<div class="container">
<p>
  Invite your friends to SwiftIntro using your personal link: 
  <b>www.swiftintro.com/<%=@user.uid%></b>
</p>
<p>
  Share the above link with your friends, and you will be given credit for each sign up. Sign up more than 5 users and you will be given special privileges such as free premium features.
</p>
