<div class="container">
  <p>
    Invite your friends to SwiftIntro using your personal link: 
    <b>www.swiftintro.com/<%=@user.uid%></b>

    <%= render partial: 'users/twitter' %>
  </p>
  <p>
    Share the above link with your friends, and you will be given credit for each sign up. Sign up 5 or more users and you will be given special privileges such as free premium features.
  </p>
</div>
