<div class='container'>
  <h4>Account Settings:</h4>

  <p><%= button_to "Deactivate Account", "delete_account", class: "btn btn-primary btn-sm", confirm: 'Are you sure you want to deactivate your account?' %></p>
</div>
