<% if @shared_count > 0 %>
    <h5># of Shared Connections: <%= @shared_count %></h5>
      <% @shared_connection_images.each do |connection| %>
        <%=image_tag connection[1], size: "40x40" %>
      <% end %>
<% end %>
