<div class="container">
  <%= render partial: 'layouts/profile' %>

  <%= render partial: 'matches/mutual_connections' %>

  <% if current_user.id == @match.first_user_id && @match.first_user_status == "pending" %>
    <%= render partial: 'matches/decision_buttons' %>
  <% elsif current_user.id == @match.second_user_id && @match.second_user_status == "pending" %>
    <%= render partial: 'matches/decision_buttons' %>
  <% end %>
</div>
