/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -90px;
}


/* Set the fixed height of the footer here */
#push, .contact {
  height: 90px;
}

.contact {
  background-color: #1abc9c;
  /*background-color: #16a085;*/
  /*background-color: #2ecc71;*/
  /*background-color: #3498db;*/
  /*background-color: #27ae60;*/
  /*background-color: #2980b9;*/
  color: #fff;
  letter-spacing: .1em;
  font-size: 12px;
  padding-top: .75em;
  text-align: center;
}

.footer-subitem {
  display: inline;
  padding: .75em;
}

.footer-subitem a {
  color: white;
  text-decoration: none;
}

.contact p {
  margin: 2px;
}

.social-share-buttons a {
  color: white;
  text-decoration: none;
}
