// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

.home {
  background: image-url('rsz_coffee_meeting.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 75%;
}

.jumbotron {
  background-color: transparent;
  padding-top: 12%;
}

.primary-text {
  color: white;
}

.center {
  text-align: center;
}

footer {
  text-align: center;
  font-size: 12px;
}

.descriptions {
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
}

#demo-video {
  padding: 5%;
  margin-bottom: 5%;
  background-color: lightgrey;
}

@media (min-width: 100px) and (max-width: 600px) {

  .home {
    background: image-url('mobile_coffee_background.jpg');
    background-repeat: no-repeat;
    height: 100%;
  }

  body {
    margin: 5%;
  }

  .primary-text {
    font-size: 15px;
  }

  #demo-video {
    visibility: hidden;
    display: none;
    padding: 0;
  }

  .descriptions {
    padding-bottom: 5%;
    text-align: center;
  }
}
