// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  text-align: center;
}

.glyph-pic {
  width: 55px;
  height: 45px;
  display: block;
  margin: 0 auto;
}

.descriptions, col-md-4, h2 {
  text-align: center;
}

footer {
  text-align: center;
  font-size: 12px;
}

.jumbotron {
  margin: 8% auto;
  background-color: transparent;
}

.primary-text {
  color: white;
}

body.home {
  background: image-url('coffee_meeting.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
