// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group {
  padding-top: 10px;
}

#error-explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.faded-premium-form {
  opacity: 0.15;
}

.mutual-connections-box {
  margin-bottom: 10px;
}
