<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <b><%= content_tag :div, msg, :id => "flash_#{name}" %></b>
    </div>
  <% end %>
<% end %>
