<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div><%= link_to "SwiftIntro", root_path, class:"navbar-brand" %> </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li> <%= link_to "My Profile", user_path(current_user) %></li>
          <li><%= link_to "Logout", signout_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
